.container {
  display: inline-block;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

ul {
   margin: 0px 80px;
   padding: 0;
}

body {
  position: relative;
  display: grid;
  flex-direction: column;
  min-height: 200vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0; 
  bottom: 0; 
  background: url('../img/pexels-photo-675937.jpeg') no-repeat center/cover;
  background-attachment: fixed;
  width: 100%;
}

/* Header banner */

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: #000099;
  color: #ffffff;
  padding-top: 10px;
  height: 100px;
  border-bottom: cyan groove 8px;
  background: rgb(5, 0, 117,0.70);
  box-shadow: 18px 18px 80px purple;
}

header a {
  color: cyan;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Courier;
  font-size: 19px;
}

header li {
  float: left;
  display: inline;
  padding: 20px 30px 0 25px; 
  color: cyan;
  }

header #brand {
  float: left;
}

header #brand h1 {
  margin: 20px 50px;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Nav */

header nav {
  float: right;
  margin-top: 10px;
}

a:hover {
  color: pink; 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

/* Effects */

a:focus 

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Brand Name */

header .highlight {
  color: #ff00ff;
  font-family: "Arial";
  font-size: 38px;
  font-style: italic;  
  text-transform: capitalize;
}

header .highlight_2 {
   position: fixed;
   font-family: Courier;
   font-style: italic;
   font-size: 28px;
   color: cyan;
   margin: 10px;   
} 

header .current a {
  color: #ff00ff;
  font-weight: bold;
}

/* Scrolling Marquee */

marquee {
  position: fixed;
  z-index: 9;
  top: 90px;
  right: 0px;
  font-family: Courier;
  font-size: 19px;
  color: cyan;
}

/* Weather Widget */

aside {	
	position: fixed;
	margin: 668px 0px;	
	width: 90px;
}

/* Headline & Article Boxes*/

#centerpiece {  
  position: absolute;  
  top: 180px;  
  color: #ffffff;
}

#centerpiece h1 span {
  position: relative;
  background: #000099;
  background-size: 0 140px 0 140px;
  padding: 5px 20px;
  border-radius: 12px;
  border: magenta groove 4.5px; 
  margin-left: 830px; 
  font-family: Courier;
  font-size: 25px;
  color: cyan;
 }

.article {
  position: relative;  
  margin: 50px 530px;
  width: 45%;
  font-family: "franklin gothic book";
  font-size: 20.5px;
  color: white;
  background: #000099;
  border: magenta groove 7px;
  background: rgb(5, 0, 117,0.70);
  box-shadow: 5px 5px 80px cyan;
  border-radius: 12px;
  padding: 20px 35px;
}

/* Contact Me */

 #contact-info {
  margin-top: 65px;
  margin-left: 30px;
}

#contact-form {
  list-style-position: inside;  
  color: cyan;
  padding-left: 110px;
  padding-top: 5px;
  float: none;
  margin-top: 30px; 
  margin-left: 180px;  
  width: 68em;
}

.contact-info a {
  color: lightgreen;
}

.demo {
  color: cyan;
  margin-top: 40px;
  margin-left: 0px;
}

/* Heading glow */

  @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6, 0 0 60px #00e6e6, 0 0 70px #00e6e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px magenta, 0 0 40px magenta, 0 0 50px magenta, 0 0 60px magenta, 0 0 70px magenta, 0 0 80px magenta;
  }
}
 
#contact a {
	color: cyan;
  text-decoration: none;
  margin-left: 220px;  
}

/* Form fields */ 


form {
  float: left;
  width: 320px;
  margin-top: 90px;
  margin-left: 250px;
}

h3 { 
  float: left;
  margin-right: 112px;
  margin-top: -55px;
  font-family: Courier;
  font-size: 22px;  
  text-decoration: underline;
  color: cyan;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
  }

label {
  float: left;
  font-family: Courier;
  font-weight: bold;
  color: cyan;
  font-size: 18px;
  width: 250px;
  margin-bottom: 6px;
}

textarea {
  float: left;
  font-family: arial;
  width: 300px;
  height: 70px;
  border-radius: 8px;
}

textarea::placeholder {
  padding: 2px 0 0 3px;  
}

button {
  float: none;
  width: 130px;
  height: 40px;
  margin-top: 40px;
  margin-left: 80px;
  color: pink;
  background: darkblue;
  border-radius: 18px;
}

input {
float: left;
font-family: arial;
width: 300px;
margin-bottom: 20px;
border-radius: 8px;
}

input::placeholder {
  padding: 6px;
}

footer {  
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
  color: #ffffff;
  background-color: #000099;
  font-family: Courier;
  font-size: 20px;
  color: cyan;
  text-align: center;
  border-top: blue groove 8px;
  background: rgb(5, 0, 117, 0.70);
  box-shadow: -7px -7px 90px magenta;
}

/* Media queries */


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
}
nav {  
  position: static;

  margin-right: 30px;
  margin-bottom: 100px;
  width: 80%;  
}

header a {	
  font-size: 18px;
  font-weight: bold;
}

.current {
	position: relative;
	margin-top: 50px;
}

#centerpiece { 
  position: relative;
  float: none;
  width: 90%;  
  top: 230px; 
  left: 10px;
 } 

#centerpiece .heading {
  position: absolute;
  float: none;
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  width: 50%;
  font-size: 20px;
}

.article {
  float: none; 
  margin-top: 200px;
  margin-left: 20px;
  width: 60%;
  font-size: 18px;
}

header {
  float: left;
  height: 100px;
}

marquee {
  margin-top: 0px;
  font-size: 15px;
}

header .highlight {
  font-size: 32px;
  margin-left: -20px;
} 

header .highlight_2 {  
  margin-left: -180px;
  margin-top: 50px;
  font-size: 20px;
}
 
.contact-info {
  list-style-position: inside;  
  color: cyan;
  padding-left: 10px;
  padding-top: 40px;
}
 
#contact-form {      
  margin-left: -290px;
  margin-top: 90px;
  width: 100%;
}

input {
  float: left;
  font-family: arial;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
}

aside {
  position: relative;
  margin-top: 420px;
  margin-left: 0px;	
  width: 90px;
}

footer {
	position: relative;
	margin-bottom: -5em;
}
